{% if cards %}
<div class="container px-5 py-3">
    <h2 class="fw-bolder fs-5 mb-4">Selected Films{{ label if label else '' }}</h2>
    <div class="row gx-3">
        {% for c in cards %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="card h-100 shadow border-0">
                <img height={{ card_height if card_height else 180 }} class="card-img-top" src="{{ c.preview }}" alt="..." style="object-fit: cover;">
                <div class="card-body p-4">
                    <a class="text-decoration-none link-dark stretched-link" href="{{ c.link }}" target="_blank">
                        <div class="h5 card-title mb-{{ 1 if c.subtitle else 3 }}">{{ c.title }}</div>
                    </a>
                    {% if c.subtitle %}<div class="small text-muted mb-3">{{ c.subtitle }}</div>{% endif %}
                    <p class="card-text mb-0">{{ c.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
