{% if landheader %}{% with lh=landheader %}
<header class="bg-dark py-3">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <a class="d-xl-none pt-3" href="{{ lh.image.link }}">
                <img class="img-fluid rounded-3" src="{{ lh.image.src }}" alt="..." target="{{ lh.image.target }}"/>
            </a>
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{ lh.title }}</h1>
                    <p class="lead fw-normal text-white-50 mb-4">{{ lh.description }}</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        {% if lh.btnmain %}<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ lh.btnmain.link }}" target="{{ lh.btnmain.target }}">{{ lh.btnmain.label }}</a>{% endif %}
                        {% if lh.btn2 %}<a class="btn btn-outline-light btn-lg px-4" href="{{ lh.btn2.link }}">{{ lh.btn2.label }}</a>{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <a href="{{ lh.image.link }}"><img class="img-fluid rounded-3 my-5" src="{{ lh.image.src }}" alt="..." target="{{ lh.image.target }}"/></a>
            </div>
        </div>
    </div>
</header>
{% endwith %}{% endif %}
