<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{ lh_title }}</h1>
                    <p class="lead fw-normal text-white-50 mb-4">{{ lh_description }}</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        {% if lh_btnmain %}<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ lh_btnmain.link }}" target="{{ lh_btnmain.target }}">{{ lh_btnmain.label }}</a>{% endif %}
                        {% if lh_btn2 %}<a class="btn btn-outline-light btn-lg px-4" href="{{ lh_btn2.link }}">{{ lh_btn2.label }}</a>{% endif %}
                    </div>
                </div>
            </div>
            {% if lh_image %}
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <a href="{{ lh_image.link }}"><img class="img-fluid rounded-3 my-5" src="{{ lh_image.src }}" alt="..." target="{{ lh_image.target }}"/></a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
