{% if testimonial %}{% with t=testimonial %}
<div class="py-3" style="background-color:#e1e1e1">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">{{ t.text }}</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img width="40" height="40" class="rounded-circle me-3" src="{{ t.image }}" alt="..." />
                        <div class="fw-bold">
                            {{ t.author }}
                            <span class="fw-bold text-primary mx-1">/</span>
                            {{ t.author_descr }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}{% endif %}
